##############################################################
#
# List of approvers/reviewers for Cohere's Langchain repo
#
##############################################################
#
#

# These owners will be the default owners for everything in the repo.
* @GangGreenTemperTatum @cohere-ai/langchain-contributors @langchain-ai/langchain-team 
