##############################################################
#
# List of approvers/reviewers for Cohere's Langchain repo
#
##############################################################
#
#

# These owners will be the default owners for everything in the repo.
* @GangGreenTemperTatum @harry-cohere @BeatrixCohere @billytrend-cohere @minjie-cohere @langchain-ai/langchain-team